section.description
  .description__img
    img(src="/img/object_02_f.jpg")
  .description__text
    .description__ready.description__ready--no Сдача объекта &mdash; IV квартал 2023 года
    p Основу жилого дома составляет монолитный железобетонный каркас. Внешние стены, а также межквартирные и межкомнатные перегородки выполнены из автоклавного газобетона, что позволяет обеспечить идеальные экологические условия, теплосбережение и полное гашение внешних и межкомнатных шумов. Толщина внешних стен составляет 50 см, что на 10 см больше ГОСТа. Снаружи дом будет покрашен фасадной штукатуркой высшего качества.
    p В местах общего пользования стены и пол будут облицованы керамогранитом. Благодаря специальным системам водоподготовки в кранах обеспечивается постоянное давление горячей и холодной воды независимо от соответствующего давления в городской системе. Владелец квартиры может устанавливать в каждой комнате необходимую комфортную для него температуру проживания или экономить на теплопотреблении.
    p В каждой квартире будет заведено оптоволокно по новейшей технологии GPON. А также резервирование вторым оптоволоконным кабелем с вводом по технологии Ethernet. По обеим линиям предоставляется интернет, телефон, телевидение.
    p На первом этаже будут находиться офисные помещения и комната консьержа, со 2-го по 18-й этаж расположатся типовые жилые квартиры, на 19-м — пентхаусы с потолками высотой 5,5 метров.
    p В доме будут установлены качественные и удобные лифты, один пассажирский, второй для перевозки людей и крупногабаритных грузов. Один из лифтов в каждом подъезде будет спускаться в подземную автостоянку, рассчитанную на 109 машиномест. 
    p Общее количество квартир в доме &mdash; 204:
    ul
      li - квартиры-студии &mdash; 76&nbsp;шт.
      li - 1-комнатные квартиры &mdash; 68&nbsp;шт.
      li - 2-комнатные квартиры &mdash; 42&nbsp;шт.
      li - 3-комнатные квартиры &mdash; 18&nbsp;шт.
    p Вместимость паркинга &mdash; 109 машиномест.
    p 
      | Высота гаража и подвала &mdash; 3,85&nbsp;м.
      br
      | Высота помещений первого этажа &mdash; 3,32&nbsp;м. 
      br
      | Высота 2-18 этажей &mdash; 2,72&nbsp;м, 19 этажа &mdash; 5,50&nbsp;м. 
