.wrapper
  section.section
    .section__title
      h2.h2 Документы объекта
    .section__content
      .documents__list
        a(href="/docs/02/02_resolution.pdf" target="_blank").documents__item Разрешение на строительство
        a(href="/docs/02/02_declarationstr.pdf" target="_blank").documents__item Проектная<br>декларация
        a(href="/docs/02/02_documentation.pdf" target="_blank").documents__item Проектная<br>документация
        a(href="/docs/02/02_conclusion.pdf" target="_blank").documents__item Заключение о соответствии
        //- a(href="#").documents__item Календарный план строительства
        //- a(href="#").documents__item Долевое участие в&nbsp;строительстве