.wrapper
  section.section
    .section__title
      h2.h2 Планировки помещений
      .carousel__buttons
        button.carousel__btn.carousel__btn--prev
        button.carousel__btn.carousel__btn--next
    .section__content
      .carousel
        .carousel__item
          a(href="/img/plan/plan_02_02_2.png?v=2" rel="plan" title="1 секция &mdash; 2-5 этажи").carousel__link.fancybox
            img(src="/img/plan/plan_02_02_2_s.png").carousel__img
            span.carousel__title 1 секция &mdash; 2-5 этажи
        .carousel__item
          a(href="/img/plan/plan_02_02_1.png?v=2" rel="plan" title="2 секция &mdash; 2-5 этажи").carousel__link.fancybox
            img(src="/img/plan/plan_02_02_1_s.png").carousel__img
            span.carousel__title 2 секция &mdash; 2-5 этажи
        .carousel__item
          a(href="/img/plan/plan_02_06_2.png?v=2" rel="plan" title="1 секция &mdash; 6-9 этажи").carousel__link.fancybox
            img(src="/img/plan/plan_02_06_2_s.png").carousel__img
            span.carousel__title 1 секция &mdash; 6-9 этажи
        .carousel__item
          a(href="/img/plan/plan_02_06_1.png?v=2" rel="plan" title="2 секция &mdash; 6-9 этажи").carousel__link.fancybox
            img(src="/img/plan/plan_02_06_1_s.png").carousel__img
            span.carousel__title 2 секция &mdash; 6-9 этажи
        .carousel__item
          a(href="/img/plan/plan_02_10_2.png?v=2" rel="plan" title="1 секция &mdash; 10 этаж").carousel__link.fancybox
            img(src="/img/plan/plan_02_10_2_s.png").carousel__img
            span.carousel__title 1 секция &mdash; 10 этаж
        .carousel__item
          a(href="/img/plan/plan_02_11_2.png?v=2" rel="plan" title="1 секция &mdash; 11-13 этажи").carousel__link.fancybox
            img(src="/img/plan/plan_02_11_2_s.png").carousel__img
            span.carousel__title 1 секция &mdash; 11-13 этажи
        .carousel__item
          a(href="/img/plan/plan_02_14_2.png?v=2" rel="plan" title="1 секция &mdash; 14 этаж").carousel__link.fancybox
            img(src="/img/plan/plan_02_14_2_s.png").carousel__img
            span.carousel__title 1 секция &mdash; 14 этаж
        .carousel__item
          a(href="/img/plan/plan_02_15_2.png?v=2" rel="plan" title="1 секция &mdash; 15-18 этажи").carousel__link.fancybox
            img(src="/img/plan/plan_02_15_2_s.png").carousel__img
            span.carousel__title 1 секция &mdash; 15-18 этажи
        .carousel__item
          a(href="/img/plan/plan_02_19_2.png?v=2" rel="plan" title="1 секция &mdash; 19 этаж").carousel__link.fancybox
            img(src="/img/plan/plan_02_19_2_s.png").carousel__img
            span.carousel__title 1 секция &mdash; 19 этаж