.wrapper
  section.section
    .section__title
      h2.h2 Ход строительства
      .carousel__buttons
        button.carousel__btn.carousel__btn--prev
        button.carousel__btn.carousel__btn--next
    .section__content
      .carousel
        .carousel__item
          a(href="/img/progress/02/027.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/027_s.jpg").carousel__img.carousel__img--full
            span.carousel__title декабрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/026.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/026_s.jpg").carousel__img.carousel__img--full
            span.carousel__title декабрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/025.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/025_s.jpg").carousel__img.carousel__img--full
            span.carousel__title декабрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/024.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/024_s.jpg").carousel__img.carousel__img--full
            span.carousel__title декабрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/023.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/023_s.jpg").carousel__img.carousel__img--full
            span.carousel__title декабрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/022.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/022_s.jpg").carousel__img.carousel__img--full
            span.carousel__title декабрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/021.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/021_s.jpg").carousel__img.carousel__img--full
            span.carousel__title ноябрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/020.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/020_s.jpg").carousel__img.carousel__img--full
            span.carousel__title ноябрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/019.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/019_s.jpg").carousel__img.carousel__img--full
            span.carousel__title ноябрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/018.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/018_s.jpg").carousel__img.carousel__img--full
            span.carousel__title ноябрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/017.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/017_s.jpg").carousel__img.carousel__img--full
            span.carousel__title ноябрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/016.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/016_s.jpg").carousel__img.carousel__img--full
            span.carousel__title октябрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/015.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/015_s.jpg").carousel__img.carousel__img--full
            span.carousel__title октябрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/014.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/014_s.jpg").carousel__img.carousel__img--full
            span.carousel__title октябрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/013.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/013_s.jpg").carousel__img.carousel__img--full
            span.carousel__title сентябрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/012.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/012_s.jpg").carousel__img.carousel__img--full
            span.carousel__title сентябрь 2021 г.
        .carousel__item
          a(href="/img/progress/02/011.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/011_s.jpg").carousel__img.carousel__img--full
            span.carousel__title август 2021 г.
        .carousel__item
          a(href="/img/progress/02/010.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/010_s.jpg").carousel__img.carousel__img--full
            span.carousel__title август 2021 г.
        .carousel__item
          a(href="/img/progress/02/009.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/009_s.jpg").carousel__img.carousel__img--full
            span.carousel__title август 2021 г.
        .carousel__item
          a(href="/img/progress/02/008.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/008_s.jpg").carousel__img.carousel__img--full
            span.carousel__title июль 2021 г.
        .carousel__item
          a(href="/img/progress/02/007.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/007_s.jpg").carousel__img.carousel__img--full
            span.carousel__title июнь 2021 г.
        .carousel__item
          a(href="/img/progress/02/006.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/006_s.jpg").carousel__img.carousel__img--full
            span.carousel__title июнь 2021 г.
        .carousel__item
          a(href="/img/progress/02/005.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/005_s.jpg").carousel__img.carousel__img--full
            span.carousel__title июнь 2021 г.
        .carousel__item
          a(href="/img/progress/02/001.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/001_s.jpg").carousel__img.carousel__img--full
            span.carousel__title май 2021 г.
        .carousel__item
          a(href="/img/progress/02/002.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/002_s.jpg").carousel__img.carousel__img--full
            span.carousel__title май 2021 г.
        .carousel__item
          a(href="/img/progress/02/003.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/003_s.jpg").carousel__img.carousel__img--full
            span.carousel__title май 2021 г.
        .carousel__item
          a(href="/img/progress/02/004.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/02/004_s.jpg").carousel__img.carousel__img--full
            span.carousel__title май 2021 г.