section.description
  .description__img
    img(src="/img/object_01_f.jpg")
  .description__text
    .description__ready.description__ready--yes Объект сдан в эксплуатацию
    p Основу дома составляет монолитный железобетонный каркас. Внешние стены и перегородки выполнены из автоклавного газобетона, что обеспечивает идеальное теплосбережение и полное гашение внешних и межкомнатных шумов. Толщина внешних стен составляет 50 см, что на 10 см больше ГОСТа. Снаружи дом отделан облицовочным кирпичом высшего качества. 
    p На первом этаже находятся офисные помещения и комната консьержа, со 2-го по 18-й этаж распологаются типовые жилые квартиры, на 19-м &mdash; пентхаусы с большими террасами.
    p Общее количество квартир в доме &mdash; 116:
    ul
      li - 1-комнатные квартиры &mdash; 54&nbsp;шт.
      li - 2-комнатные квартиры &mdash; 48&nbsp;шт.
      li - 3-комнатные квартиры &mdash; 14&nbsp;шт.
    p Вместимость паркинга &mdash; 50 машиномест.
    p 
      | Высота гаража и подвала &mdash; 3,85&nbsp;м.
      br
      | Высота помещений первого этажа &mdash; 3,32&nbsp;м. 
      br
      | Высота 2-18 этажей &mdash; 2,72&nbsp;м, 19 этажа &mdash; 5,50&nbsp;м. 
