.wrapper
  section.section
    .section__title
      h2.h2 Документы объекта
    .section__content
      .documents__list
        a(href="/docs/01/01_declarationstr.pdf" target="_blank").documents__item Проектная<br>декларация
        a(href="/docs/01/01_resolution.pdf" target="_blank").documents__item Разрешение на строительство
        a(href="/docs/01/01_calendplanstr.pdf" target="_blank").documents__item Календарный план строительства
        a(href="/docs/01/01_share.doc" target="_blank").documents__item Долевое участие в строительстве