.wrapper
  section.section
    .section__title
      h2.h2 Планировки помещений
      .carousel__buttons
        button.carousel__btn.carousel__btn--prev
        button.carousel__btn.carousel__btn--next
    .section__content
      .carousel
        .carousel__item
          a(href="/img/plan/plan_01_01.png" rel="plan" title="1 этаж").carousel__link.fancybox
            img(src="/img/plan/plan_01_01_s.png").carousel__img
            span.carousel__title 1 этаж
        .carousel__item
          a(href="/img/plan/plan_01_02.png" rel="plan" title="2-7, 9-12 этажи").carousel__link.fancybox
            img(src="/img/plan/plan_01_02_s.png").carousel__img
            span.carousel__title 2-7, 9-12 этажи
        .carousel__item
          a(href="/img/plan/plan_01_08.png" rel="plan" title="8 этаж").carousel__link.fancybox
            img(src="/img/plan/plan_01_08_s.png").carousel__img
            span.carousel__title 8 этаж
        .carousel__item
          a(href="/img/plan/plan_01_13.png" rel="plan" title="13-17 этажи").carousel__link.fancybox
            img(src="/img/plan/plan_01_13_s.png").carousel__img
            span.carousel__title 13-17 этажи
        .carousel__item
          a(href="/img/plan/plan_01_18.png" rel="plan" title="18 этаж").carousel__link.fancybox
            img(src="/img/plan/plan_01_18_s.png").carousel__img
            span.carousel__title 18 этаж
        .carousel__item
          a(href="/img/plan/plan_01_19.png" rel="plan" title="19 этаж").carousel__link.fancybox
            img(src="/img/plan/plan_01_19_s.png").carousel__img
            span.carousel__title 19 этаж