.wrapper
  section.section
    .section__title
      h2.h2 Ход строительства
      .carousel__buttons
        button.carousel__btn.carousel__btn--prev
        button.carousel__btn.carousel__btn--next
    .section__content
      .carousel
        .carousel__item
          a(href="/img/progress/01/2017_01.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2017_01_s.jpg").carousel__img.carousel__img--full
            span.carousel__title январь 2017 г.
        .carousel__item
          a(href="/img/progress/01/2016_11.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2016_11_s.jpg").carousel__img.carousel__img--full
            span.carousel__title ноябрь 2016 г.
        .carousel__item
          a(href="/img/progress/01/2016_10.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2016_10_s.jpg").carousel__img.carousel__img--full
            span.carousel__title октябрь 2016 г.
        .carousel__item
          a(href="/img/progress/01/2016_09.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2016_09_s.jpg").carousel__img.carousel__img--full
            span.carousel__title сентябрь 2016 г.
        .carousel__item
          a(href="/img/progress/01/2016_07.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2016_07_s.jpg").carousel__img.carousel__img--full
            span.carousel__title июль 2016 г.
        .carousel__item
          a(href="/img/progress/01/2016_05.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2016_05_s.jpg").carousel__img.carousel__img--full
            span.carousel__title май 2016 г.
        .carousel__item
          a(href="/img/progress/01/2016_04.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2016_04_s.jpg").carousel__img.carousel__img--full
            span.carousel__title апрель 2016 г.
        .carousel__item
          a(href="/img/progress/01/2016_03.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2016_03_s.jpg").carousel__img.carousel__img--full
            span.carousel__title март 2016 г.
        .carousel__item
          a(href="/img/progress/01/2016_02.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2016_02_s.jpg").carousel__img.carousel__img--full
            span.carousel__title февраль 2016 г.
        .carousel__item
          a(href="/img/progress/01/2016_01.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2016_01_s.jpg").carousel__img.carousel__img--full
            span.carousel__title январь 2016 г.
        .carousel__item
          a(href="/img/progress/01/2015_11.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2015_11_s.jpg").carousel__img.carousel__img--full
            span.carousel__title ноябрь 2015 г.
        .carousel__item
          a(href="/img/progress/01/2015_10.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2015_10_s.jpg").carousel__img.carousel__img--full
            span.carousel__title октябрь 2015 г.
        .carousel__item
          a(href="/img/progress/01/2015_09.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2015_09_s.jpg").carousel__img.carousel__img--full
            span.carousel__title сентябрь 2015 г.
        .carousel__item
          a(href="/img/progress/01/2015_08.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2015_08_s.jpg").carousel__img.carousel__img--full
            span.carousel__title август 2015 г.
        .carousel__item
          a(href="/img/progress/01/2015_07.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2015_07_s.jpg").carousel__img.carousel__img--full
            span.carousel__title июль 2015 г.
        .carousel__item
          a(href="/img/progress/01/2015_06.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2015_06_s.jpg").carousel__img.carousel__img--full
            span.carousel__title июнь 2015 г.
        .carousel__item
          a(href="/img/progress/01/2015_05.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2015_05_s.jpg").carousel__img.carousel__img--full
            span.carousel__title май 2015 г.
        .carousel__item
          a(href="/img/progress/01/2015_04.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2015_04_s.jpg").carousel__img.carousel__img--full
            span.carousel__title апрель 2015 г.
        .carousel__item
          a(href="/img/progress/01/2015_03jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2015_03_s.jpg").carousel__img.carousel__img--full
            span.carousel__title март 2015 г.
        .carousel__item
          a(href="/img/progress/01/2015_02.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2015_02_s.jpg").carousel__img.carousel__img--full
            span.carousel__title февраль 2015 г.
        .carousel__item
          a(href="/img/progress/01/2014_12.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2014_12_s.jpg").carousel__img.carousel__img--full
            span.carousel__title декабрь 2014 г.
        .carousel__item
          a(href="/img/progress/01/2014_11.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2014_11_s.jpg").carousel__img.carousel__img--full
            span.carousel__title ноябрь 2014 г.
        .carousel__item
          a(href="/img/progress/01/2014_10.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2014_10_s.jpg").carousel__img.carousel__img--full
            span.carousel__title октябрь 2014 г.
        .carousel__item
          a(href="/img/progress/01/2014_09.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2014_09_s.jpg").carousel__img.carousel__img--full
            span.carousel__title сентябрь 2014 г.
        .carousel__item
          a(href="/img/progress/01/2014_08.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2014_08_s.jpg").carousel__img.carousel__img--full
            span.carousel__title август 2014 г.
        .carousel__item
          a(href="/img/progress/01/2014_07.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2014_07_s.jpg").carousel__img.carousel__img--full
            span.carousel__title июль 2014 г.
        .carousel__item
          a(href="/img/progress/01/2014_06.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2014_06_s.jpg").carousel__img.carousel__img--full
            span.carousel__title июнь 2014 г.
        .carousel__item
          a(href="/img/progress/01/2014_05.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2014_05_s.jpg").carousel__img.carousel__img--full
            span.carousel__title май 2014 г.
        .carousel__item
          a(href="/img/progress/01/2014_04.jpg" rel="progress").carousel__link.fancybox
            img(src="/img/progress/01/2014_04_s.jpg").carousel__img.carousel__img--full
            span.carousel__title апрель 2014 г.       