extends layout/main

block variables
  - var title = 'Строительная компания СЗ "Конструктор" - О компании'

block main
  .container
    .wrapper
      //- .breadcrumbs
        a(href="/").breadcrumbs__link Главная
        span.breadcrumbs__current Как купить
      h1.h1 О компании
      p ООО &laquo;СЗ-Конструктор&raquo; &mdash; строительно-инвестиционная компания, осуществляющая деятельность в Хабаровске, была основана в 2019 году путем выделения компании из ООО &laquo;Параллель Востока&raquo;, которая была основана в 1998 году и зарекомендовала себя, как надежный застройщик качественного жилья комфорт и бизнес класса. 
      p Сегодня мы реализуем девелоперские проекты в столице Хабаровского края. В каждом проекте &mdash; своя идея, уникальная концепция, основанная на ваших желаниях и предпочтениях.  Мы применяем технологии и решения, которые обеспечивают безопасность проживания. Детально продумываем планировки квартир для вашего ежедневного уюта.

      br
      br
      
      a(name="contacts")
      .h1 Контакты
      //- p 
        b(style="font-weight: 700") Офис продаж: 
        | г. Хабаровск, ул. Шевчука, 22Б, оф. 6
      p 
        b(style="font-weight: 700") Телефон отдела продаж: 
        | +7 (4212) 257-257