extends layout/main

block variables
	-var title = 'Строительная компания СЗ "Конструктор"'
	-var homepage = true

block main
	.container
		include parts/mainpromo
		include parts/advantages
		include parts/objects
		include parts/apartments
		include parts/request
		include parts/news