.wrapper
  section.section
    .section__title
      h2.h2 Преимущества наших ЖК
      .carousel__buttons
        button.carousel__btn.carousel__btn--prev
        button.carousel__btn.carousel__btn--next
    .section__content
      p Наши жилые комплексы построены с использованием автоклавного газобетона, что существенно снижает тепловые потери зданий.  Дома снабжены самыми необходимыми инженерными системами для комфортного проживания.
      br
      .carousel
        .carousel__item
          a(href="#").carousel__link
            img(src="").carousel__img.carousel__img--blank
            span.carousel__title Подземная автостоянка
        .carousel__item
          a(href="#").carousel__link
            img(src="").carousel__img.carousel__img--blank
            span.carousel__title Качественные лифты
        .carousel__item
          a(href="#").carousel__link
            img(src="").carousel__img.carousel__img--blank
            span.carousel__title Система видеонаблюдения
        .carousel__item
          a(href="#").carousel__link
            img(src="").carousel__img.carousel__img--blank
            span.carousel__title Комната консьержа
        .carousel__item
          a(href="#").carousel__link
            img(src="").carousel__img.carousel__img--blank
            span.carousel__title Предчистовая отделка студий с установкой сантехники