section.apartments
  .apartments__block.wrapper
    h2.apartments__title Выберите свою квартиру
    .apartments__description Мы предлагаем большой выбор квартир &mdash; от уютных студий до просторных трехкомнатных квартир.
  .apartments__list.wrapper
    .apartments__item
      img(src="/img/apartments_01.jpg").apartments__img
      .apartments__name Студии
      .apartments__params от 26,77 м<sup>2</sup><br>от 2 810 850 руб.
    .apartments__item
      img(src="/img/apartments_02.jpg").apartments__img
      .apartments__name Однокомнатные
      .apartments__params от 37,34 м<sup>2</sup><br>от 3 734 000 руб.
    .apartments__item
      img(src="/img/apartments_03.jpg").apartments__img
      .apartments__name Двухкомнатные
      .apartments__params от 47,80 м<sup>2</sup><br>от 4 780 000 руб.
    .apartments__item
      img(src="/img/apartments_04.jpg").apartments__img
      .apartments__name Трехкомнатные
      .apartments__params от 70,79 м<sup>2</sup><br>от 7 079 000 руб.
    