section.objects
  .objects__header
  .objects__block.wrapper
    h2.objects__title Текущие проекты
    .objects__list
      a(href="/object_01.html").objects__item
        img(src="/img/object_01_s.jpg").objects__img
        .objects__name ЖК &laquo;Виктория&raquo;
      a(href="/object_02.html").objects__item
        img(src="/img/object_02_s.jpg").objects__img
        .objects__name ЖК &laquo;Элемент&raquo;
