section.request
  .request__block.wrapper
    .request__title Хотите приобрести квартиру
    .request__subtitle но необходима консультация?
    .request__form
      .request__item
        label(for="user_name").request__label Ваше имя
        input(type="text" id="user_name").request__input
      .request__item
        label(for="user_phone").request__label Ваш телефон
        input(type="text" id="user_phone").request__input
      .request__item
        input(type="submit" value="Оставить заявку").request__input
    .request__warning Нажимая кнопку, Вы соглашаетесь на обработку <a href="#">персональных данных</a>
